/* Global */
:root {
    --main-padding: 2rem
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Start of header */
header {
    height: 100vh;
    background-image: linear-gradient(rgba(28, 33, 161, 0.4), rgba(27, 24, 24, 0.4)), url("Montage-Beverly-Hills.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

img {
    width: 100%;
    vertical-align: middle;
}

.flex {
    display: flex;
    align-items: center;
}

header nav {
    justify-content: space-between;
    padding: 0 var(--main-padding);
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

header nav .img {
    width: 80px;
    cursor: pointer;
}

header nav ul {
    justify-content: center;
}

header nav ul li {
    padding: 1rem;
    user-select: none;
    cursor: pointer;
    transition: 0.5s;
}

.left-nav{
    position: fixed;
    left: 10%;
    right: 50%;
}
.right-nav{
    font-weight: bold;
    position: fixed;
    left: 70%;
    
}

header nav ul li:hover {
    background-color: rgb(8, 8, 8);
    color: white;
    padding: 12px;
}

header a:hover{
    color: white;
}

header .headerContent h2{
    padding: 20px 10px;
    font-size: 50px;
}

header .headerContent {
    color: aliceblue;
    width: 50%;
    padding: var(--main-padding);
    box-shadow: 0 0 12px 0px #f8eded47;
    border-radius: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

header .headerContent:hover{
    border: 2px solid white;
    background-color: rgba(66, 65, 65, 0.495);
    transition: border 3s ease; 
    cursor: pointer;
    
}

button {
    padding: 10px 20px;
    border: 2px solid white;
    margin-top: 2rem;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.852);
    color: black;
}

/* end of header */

/* start trips */
.trips {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: auto;
    padding: 50px 160px;
    
}

.trip {
    text-align: left;
    border: solid;
}

.trip img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    /* border-radius: 9px; */
}

.trip h1{
    text-align: left;
    font-size: 20px;
    padding: 1rem;

}

.trip p {
    padding: 1rem;
    color: #333;
}

.trip p:hover {
    color: white;
}

.trip:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
/* end trips */

/* apps */
.apps {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e6e2e2de;
    padding: var(--main-padding);
}

.apps .app {
    flex: 1;
    max-width: 50%;
    padding: var(--main-padding);
}

.apps .app img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.apps .app img:hover {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.apps .text-app {
    flex: 1;
    text-align: left;
    padding: var(--main-padding);
}

.apps .text-app p, 
.apps .text-app h2 {
    margin-bottom: 15px;
}
/* end apps */

/* start booking */
.Booking{
        height: 35vh;
        background-image: linear-gradient(rgba(19, 18, 18, 0.762), rgba(27, 24, 24, 0.619)), url("imgs/banner.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }

.Booking h1{
    color: white;
    text-align: center;
    font-size: 26px;
    margin: 2px 10px;
    }
.Booking p{
    color: white;
    text-align: center;
    margin: 2px 10px;
    font-size: 35px;
}

.Booking p b{
    color: red;
}

/* end booking */
/* start BookingNow */
.BookingNow {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: var(--main-padding);
}

.bookn {
    position: relative;
    flex: 1 1 calc(50% - 1rem);
    overflow: hidden;
    border-radius: 12px;
}

.bookn:nth-child(n+3) {
    flex: 1 1 calc(33.33% - 1rem);
}
.bookn img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
}

.bookn .info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    /* transition: none; */
}

.bookn .info p,
.bookn .info h1,
.bookn .info button {
    margin-bottom: 1rem;
}

/* end BookingNow */

/* start footer */
.footer {
    display: flex;
    justify-content: space-between;
    padding: var(--main-padding);
    background-color: #111111;
    color: white;
}

.footer-column {
    flex: 1;
    padding: var(--main-padding);
}

.footer-column h3 {
    margin-bottom: 10px;
    font-size: 25px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    color: #9b9898;
}

.footer-column ul li {
    margin-bottom: 0.5rem;
}

.footer-column ul li:hover {
    text-decoration: underline;
    color: white;
    cursor: pointer;
}

.footer-column .social-icons {
    display: flex;
    gap: 1rem;
}

.footer-column .social-icons li {
    margin: 0;
}

.footer-column .social-icons img {
    width: 24px;
    height: 24px;
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
}

.footer .social a{
    font-size: 25px;
    color: white;
    border: 2px solid rgb(113, 107, 107);
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    border-radius: 50%;
    margin: 0 10px ;
    transition: 0.3s ease-in-out;

}

.footer .social a:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px white;
}

.copyright {
    background-color: #111111;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

.copyright p {
    margin: 0;
    font-size: 1rem;
}

/* end footer */